:root {
  --background-color: #22292f;
  --foreground-color: #888888;

  --card-background-color: #262d35;
  --card-border-color: #333a44;

  --form-background-color: #1b1940;
  --form-border-color: #4b39ef;
  --form-color: #98a1b0;

  --button-background-color: #4b39ef;
  --button-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background-color);
  color: var(--foreground-color);
}

i {
  display: block;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  user-select: none;
}
